.same{
    height: 100px;
    width: 100px;
}
body{
    position: relative;
}
.orange{ 
    background-color: #f34f1c;
    position: absolute;
    left: 600px;
    top: 200px;
}
.green{
    background-color: #7fbc00;
    position: absolute;
    left: 710px;
    top: 200px;
}
.skyblue{
    background-color: #01a6f0;
    position: absolute;
    left: 600px;
    top: 310px;
}
.yellow{
    background-color: #ffba01;;
    position: absolute;
    left: 710px;
    top: 310px;
}
.name{
    position: absolute;
    left: 825px;
    top: 260px;
    color: #747474;
}